body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-image: url("../assets/table.png");
  height: 100vh;
  color: white;
}

.game--component {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.winnerText {
  margin: 0;
}

#computer-score{
  margin-top: 0;
}

button {
  background-color: #fff100;
  cursor: pointer;
  border: none;
}

#new-deck {
  align-self: flex-start;
  padding: 5px;
}

.draw {
  font-size: 1.2em;
  padding: 5px;
  align-self: stretch;
}

div.card-slot {
  border: 1px solid black;
  border-radius: 5px;
  height: 180px;
  width: calc(180px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
  margin-bottom: 10px;
}

img.card {
  width: 100%;
  height: 100%;
}

div.top {
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

div.top > p {
  margin: 0;
  margin-left: 10px;
}

button:disabled {
  cursor: not-allowed;
}
